/*shared common css*/
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
} 
.btn-primary {
    color: #fff;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  
}
.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/*nav related css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;

}
.nav-title {
color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #181818;
}
/*header*/
.header {
    background: #FFF8F3;
    background-image: url('./img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner {
    padding: 30px 20px 0px 100px;
    display: flex;
    align-items: center;
}
.banner .profile-picture {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    margin-bottom: 0;
}
.banner-title {
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
}
.banner-description {
    font-size: 18px;
    margin-bottom: 20px;
}
/*  main section style*/

/* about section  style */
main {
    max-width: 1140px;
    margin: 0, auto;
}
main section {
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 100px;
}
.about {
    padding: 100px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about-info {
    text-align: center;
    margin-bottom: 0;
}


/*  What i do section  */

#what-i-do-description {
    padding: 30px 100px;
}

.skills-container {
    display: flex;
    gap: 20px;
}
.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-description {
    color: #757575;
}

/*    resume section  */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container {
    display: flex;
    gap: 50px;
}
.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item hr {
    margin: 30px;
    
}
.download-CV {
    text-align: center;
    margin-top: 30px;
}
/*  footer style  */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 100px;
    margin-top: 100px;
    gap: 50px;
}
.social-links {
    margin-right: 20px;
    padding: 15px;
}
.footer-column {
    width: 50%;
}
.contact input[type="text"], input[type="email"], textarea {
    display: block;
    margin-bottom: 20px;
    padding: 15px 20px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #fff;
    border: 0;
    width: 100%;

}